# Dependencies
/node_modules
/vendor
npm-debug.log
yarn-error.log

# Environment & Secrets
.env
.env.*
!.env.example
/auth.json

# SQLite Databases
*.sqlite
*.sqlite-journal
/database/database.sqlite

# Laravel Specific
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml

# Logs, Caches & Coverage
*.log
/.phpunit.cache
.phpunit.result.cache
/coverage

# IDE, Editor & Tooling
/.idea
/.vscode

# Extra / Custom folders
/Assignments
/WorkNote
/postman
