# Dependencies
/node_modules
/vendor

# Environment
.env
.env.backup
.env.production
/auth.json

# SQLite Databases
*.sqlite
*.sqlite-journal
database/database.sqlite

# Laravel Specific
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml

# Logs & Caches
*.log
/.phpunit.cache
.phpunit.result.cache

# IDE, Editor & Tooling
.DS_Store
Thumbs.db
.phpactor.json
/.codex
/.cursor/
/.fleet/
/.idea
/.nova
/.vscode
/.zed
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Local Environment (Do not ignore Assignments or WorkNote so we can track progress)
# /Assignments
